# ENVIRONMENT CONFIG
# ENV='PRODUCTION'
# this will cause the STMP config to be used


# SMTP CONFIG
HOST=
PORT=
USERNAME=
PASS=

# BREEZE CONFIG
BREEZE_SUBDOMAIN=
BREEZE_API=
FORM_ID=

# EMAIL CONFIG
# path to an email template. if none listed, the default template will be used: ./lib/sample_email_template.js
EMAIL_TEMPLATE_FILE=